li{
    list-style: none;
    padding: 5px;
}
.footer-container{
    border-top: 2px solid #fff;
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width:550px) {
    .footer-me{
        display: none;
    }
}